* {
  /* reset default */
  margin: 0;
  padding: 0;
}

body {
  /* body styles */
  background-color: #eee; 
  font-family:Verdana, Geneva, Tahoma, sans-serif; 
  
  min-height: 100vh;
  min-width: 65ch;
}  

header {
  /* header styles */
  padding: 0.8em 0;
  text-align: center;
  
  font-weight: 900;
  font-size: 30px;

  color: #eee;
  background-color: #39547C;
}

main {
  /* this is the container for the div area */
  padding: 1.5em 10em;
}

div {
  /* this is the container for all the cards */
  /* alignment of all cards within the */
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;

  /* gives spaces between the cards */
  gap: 70px;
 
}

article {
  /* this is the card */
  padding: 2em;

  background-color: #fff; 
  border-radius: 0.7rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.3);

  width: 420px; 
}

figure {
  /* this is the container for the img */
  padding: 2em;
}

img {
  display: block;
  width: 100%;
}

h2 {
  font-size: 20px;
  color: #39547C;
}

li, a {
  /* list and link font styles */
  font-size: 15px;
  line-height: 1.5em;
  list-style: none;
}

ul {
  /* this gives space between the lists and the link */
  padding-bottom: 1em;
}

/* link styles */
a:link {
  text-decoration: none;
  cursor: pointer;

  color: #a06468;
}

a:visited {
  color: #4d8764;
}

a:hover {
  background-color: #fffbc8;
}

a:active {
  color: #2e4744;
}


